################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CB/CB.Client/bin/Debug/netstandard2.0/dist/_framework/_bin
